.video-title{
font-size:20px;
font-weight:bold;
font-family : arial;
width: 300px;
margin-bottom :8px;
}
.video-views{
font-family:Arial;
color: rgb(96, 96, 96);
margin-top: 0px;
font-size : 14px;
}
.video-author{
font-family : arial;
font-size: 14px;
color: rgb(96, 96, 96);
}
.video-desc{
font-family: arial;
font-size: 14px;
width :270px;
color: rgb(96, 96, 96);
line-height:20px;
}
.logo{
margin-top:45px;
margin-bottom: 0px;
}
.shop{
font-family : arial;
font-size:14px;
text-align:center;
color:white ;
background-color: red;
padding-top: 20px;
padding-bottom: 20px;
}
.underline{
cursor:pointer;
}
.underline:hover{
text-decoration: underline;
}